---
import { getLocale } from "astro-i18n-aut";
import BaseLayout from "../components/BaseLayout.astro";
import "../styles/globals.css";
import { getTranslation } from "../utils/i18n";
const translation = await getTranslation(getLocale(Astro.url), "greeting");
---

<BaseLayout>
  <h1>Hello</h1>
  <h1>{translation?.data}</h1>
</BaseLayout>
