<div id="root">© 2025 AmaniCare</div>

<style>
  #root {
    font-family: "DM Sans", sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding: 0 2rem;
    background-color: #1a1a1a;
    color: #ffffff;
  }
</style>
